# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:
    encoders:
        BufeteBundle\Entity\Personas:
            algorithm: bcrypt
            cost: 4
    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        our_db_provider:
            entity:
                class: BufeteBundle:Personas
                property: usuarioPersona

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            anonymous: ~
            provider: our_db_provider
            form_login:
                login_path: /login
                check_path: /login_check
                #success_handler: login_success_handler
            logout:
                path: /logout
                target: /login

    access_control:

        - { path: ^/paises, roles: ROLE_ADMIN}
        - { path: ^/departamentos, roles: ROLE_ADMIN}
        - { path: ^/ciudad, roles: ROLE_ADMIN}
        - { path: ^/tipocaso, roles: ROLE_ADMIN}


        - { path: ^/bufetes, roles: ROLE_SECRETARIO}
        - { path: ^/trabajos, roles: ROLE_SECRETARIO}
        - { path: ^/tribunales, roles: ROLE_SECRETARIO}
        - { path: ^/estadosciviles, roles: ROLE_SECRETARIO}
        - { path: ^/tipoasunto, roles: ROLE_SECRETARIO}
        - { path: ^/tipopracticante, roles: ROLE_SECRETARIO}
        - { path: ^/practicas, roles: ROLE_SECRETARIO}


        - { path: ^/casos/civiles, roles: ROLE_SECRETARIO}
        - { path: ^/casos/newcivil, roles: ROLE_SECRETARIO}
        - { path: ^/casos/([0-9]+)/editcivil, roles: ROLE_SECRETARIO}
        - { path: ^/casos/laborales, roles: ROLE_SECRETARIO}
        - { path: ^/casos/newlaboral, roles: ROLE_SECRETARIO}
        - { path: ^/casos/([0-9]+)/editlaboral, roles: ROLE_SECRETARIO}
        - { path: ^/clinicas, roles: ROLE_SECRETARIO}
        - { path: ^/asignacionclinica/([0-9]+)/listEstudiantes, roles: ROLE_SECRETARIO}
        - { path: ^/asignacionclinica/new, roles: ROLE_SECRETARIO}
        - { path: ^/demandantes, roles: ROLE_SECRETARIO}
        - { path: ^/personas/indexEstudiantes, roles: ROLE_SECRETARIO}
        - { path: ^/personas/registro, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/detalle, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/editEstudiante, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/editpassestudiante, roles: ROLE_SECRETARIO}
        - { path: ^/personas/indexAsesores, roles: ROLE_SECRETARIO}
        - { path: ^/personas/newpersonal, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/detalle, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/editAsesor, roles: ROLE_SECRETARIO}
        - { path: ^/personas/([0-9]+)/editpassasesor, roles: ROLE_SECRETARIO}

        - { path: ^/casos/casoslaborales, roles: ROLE_ESTUDIANTE}
        - { path: ^/casos/casosciviles, roles: ROLE_ESTUDIANTE}


        - { path: ^/personas/laboralesasesor, roles: ROLE_ASESOR}
        - { path: ^/personas/civilesasesor, roles: ROLE_ASESOR}
        - { path: ^/asignacionclinica/ClinicasAsesor, roles: ROLE_ASESOR}
        - { path: ^/asignacionclinica/([0-9]+)/ListClinicasEstAsesor, roles: ROLE_ASESOR}

        - { path: ^/casos/showlaboral, roles: [ROLE_SECRETARIO, ROLE_ASESOR, ROLE_ESTUDIANTE]}
        - { path: ^/casos/showcivil, roles: [ROLE_SECRETARIO, ROLE_ASESOR, ROLE_ESTUDIANTE]}

        - { path: ^/home, roles: [ROLE_DIRECTOR, ROLE_ASESOR, ROLE_SECRETARIO, ROLE_ESTUDIANTE]}

    role_hierarchy:
        ROLE_ADMIN: ROLE_SECRETARIO

            # activate different ways to authenticate

            # http_basic: ~
            # http://symfony.com/doc/current/book/security.html#a-configuring-how-your-users-will-authenticate

            # form_login: ~
            # http://symfony.com/doc/current/cookbook/security/form_login_setup.html
