   <table class="table table-striped table-bordered table-hover">
            <tr>
                <th>Caso Enviado</th>
                <th>Estudiante</th>                                
                <th>Demandante</th>
                <th>Demandado</th>
                <th>Tipo Caso</th>
                <th>Notificación</th>                
                <th>Crear</th>                
            </tr>

           
                <tr>
                    <td>{{pdf}}</td>                                           
                </tr>                
                   
            </table>            
