{% extends 'layout.html.twig' %}

{% block body %}
  <div class="ex-page-content text-center">
    <h1>404</h1>
    <h2 class="font-light">Sorry, page not found</h2><br>
    <p>You better try our awesome search:</p>
    <br>
    <a class="btn btn-purple" href="index.html"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
  </div>
{% endblock %}
